p {
    font-size: 12px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
h1{
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    background-color: black;
    color: red;
}
p.aviso{
    font-size: 18px;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gold;


}
p.fase_grupo{
    font-size: 16px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-right: auto;
  
}



img.mini_bandeiras{
    width: 22px;
    border:solid;
    border-color: black;
    border-width: 2px;

}